@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-color: #121212;
    color: #F4F4F9;
}

input
{
    color: black;
}

@media screen and (min-width: 640px)
{
  .item:nth-child(odd) {
      justify-self: end;
      
    }
    
    .item:nth-child(even) {
      justify-self: start;
    }
  
      .item:nth-child(3),
      .item:nth-child(4) {
          align-self: start;
      }
  
      .item:nth-child(1),
      .item:nth-child(2) {
          align-self: end;
      }
}
  
